<div class="hitokoto">
    <div class="hitokoto-title">一言</div>
    <p class="hitokoto-content"></p>
    <div class="hitokoto-from"></div>
</div>
<a class="nav-item" href=<%- `"${config.rootpath}/"` %>>
    <i class="menu-item-icon fa fa-fw fa-home"></i>
    首页
</a>
<a class="nav-item" href=<%- `"${config.rootpath}/tag/"` %>>
    <i class="menu-item-icon fa fa-fw fa-tags"></i>
    标签
</a>
<a class="nav-item" href=<%- `"${config.rootpath}/about/"` %>>
    <i class="menu-item-icon fa fa-fw fa-user"></i>
    关于
</a>
<a class="nav-item" href=<%- `"${config.rootpath}/friends/"` %>>
    <i class="menu-item-icon fa fa-fw fa-handshake-o"></i>
    朋友
</a>