<div id="bar-panel" style="display: none;">
    <div class="backblack"></div>
    <div class="panel-wrapper">
        <div class="panel">
            <%- include("common/nav") -%>
            <a id="back" align="right" href="">
                返回
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>
<script>
    bpDOM = document.getElementById("bar-panel");

    let backF = function() {
        pwDOM = document.getElementsByClassName("panel-wrapper")[0];
        pwDOM.style.setProperty(`transform`, `translateX(${pwDOM.offsetWidth}px)`);
        setTimeout(() => bpDOM.style.setProperty("display", "none"), 250);
        document.body.removeEventListener("touchmove", bodyScroll, { passive: false });
        return false;
    };

    document.getElementById("back").onclick = backF;
    document.getElementsByClassName("backblack")[0].onclick = backF;

</script>