<div class="footer" align="center">
    <p>© 2016 — 2021 | FlyInTheSky</p>
    <p>由 <a href="https://github.com/FlyInThesky10/Flyblog">Flyblog</a> 强力驱动</p>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
<%
    hightlightPath = config.rootpath + "/static/js/highlight.min.js";
%>
<script src=<%- `"${hightlightPath}"` %>></script>
<script >hljs.initHighlightingOnLoad();</script>
<!-- flyblog script -->
<script>
    let barDOM = document.getElementById("bar");
    let bodyScroll = function(event) {event.preventDefault();};

    let st = 0;
    window.onscroll = function() {
        st = document.body.scrollTop || document.documentElement.scrollTop || window.pageYOffset;
    } // 移动端要用事件来实时更新

    barDOM.onclick = function() {
        bpDOM = document.getElementById("bar-panel");
        pwDOM = document.getElementsByClassName("panel-wrapper")[0];
        bpDOM.style.setProperty("display", null);
        bpDOM.style.setProperty("transform", `translateY(${st}px)`);
        setTimeout(() => pwDOM.style.setProperty(`transform`, `translateX(0px)`), 0);
        document.body.addEventListener("touchmove", bodyScroll, { passive: false });
    };

    // hide sidebar if width is not enough

    checkSidebar();
    window.onresize = function() {
        checkSidebar();
        checkCode();
    };

    function checkSidebar() {
        let clientWidth = document.body.clientWidth;
        let sidebarDOM = document.getElementById("sidebar");
        let barDOM = document.getElementById("bar");
        if (clientWidth < 800) {
            if (sidebarDOM) {
                sidebarDOM.style.setProperty("display", "none");
                sidebarDOM.parentNode.style.setProperty("display", "block");
                barDOM.style.setProperty("display", null);
            }
        } else {
            if (sidebarDOM) {
                sidebarDOM.style.setProperty("display", null);
                sidebarDOM.parentNode.style.setProperty("display", "flex");
                barDOM.style.setProperty("display", "none");
            }
        }
    }

    // make text in <p> /r/n => <br>

    function addLoadEvent(loadEvent) {
        let init = function() {
            if (arguments.callee.done) return;
            arguments.callee.done = true;
            loadEvent.apply(document, arguments);
        };
        if (document.addEventListener) {
            document.addEventListener("DOMContentLoaded", init, false);
        }
    }

    function checkCode() {
        let codeList = document.getElementsByTagName("code");
        for (let i = 0; i < codeList.length; ++i) {
            let codeDOM = codeList[i];
            let contentDOM = codeDOM.parentNode.parentNode;
            if (codeDOM.parentNode.tagName === "pre") {
                codeDOM.style.setProperty("width", contentDOM.offsetWidth + "px");
                codeDOM.parentNode.style.setProperty("width", contentDOM.offsetWidth + "px");
            } else {
                codeDOM.style.setProperty("width", codeDOM.parentNode.offsetWidth + "px");
				codeDOM.style.setProperty("border", "solid #eaeaea");
            }
            let tmp = codeDOM.innerHTML;
            codeDOM.innerHTML = tmp.replace(/\\\_/g, "\_");
        }
    }

    addLoadEvent(() => {

        checkSidebar();

        let pList = document.getElementsByTagName("p");
        for (let i = 0; i < pList.length; ++i) {
            let pDOM = pList[i];
            pDOM.innerHTML = pDOM.innerHTML.replace(/[\r\n]/g, "<br>");
        }

        setTimeout(() => {checkCode();});

        let pwDOM = document.getElementsByClassName("postlist-wrapper")[0];
        pwDOM.style.setProperty("visibility", null);
        pwDOM.style.setProperty("opacity", 1);

        barDOM.style.setProperty(`left`, `${document.body.offsetWidth - 80}px`);

    });

</script>
<style type="text/css">
    .header {
        background-image: url(<%= config.rootpath + "/static/images/header_background.png" %>);
        background-repeat: repeat;
        background-size: cover;
        background-position: center;
    }
    .author-wrapper .author .avatar {
        background-image: url(<%= config.rootpath + "/static/images/avatar.jpg" %>);
        background-size: contain;
    }
</style>